page-login {
	.ioncontent {
		text-align: center;
	}
	.errorMessage{
		text-align: center;
		font-size:14px;
	    color: grey;
	    font-family: arial;
	    padding-top: 40px;
	    span{
			color:red;
			font-size: 18px;
		}
	}

	ion-list{
		.phoneNumber{
			margin-top: 15px;
		width: 20%;
		font-family: Avenir-Medium;
		font-size: 17px;
		letter-spacing: 1px;
		color: color($colors, primary);
		}
		display: inline-block;
		text-align: left;
		.code{
		display: inline-block;
		text-align: center;
		color: #605F61;
		border-radius: 0px;
		height:25px;
		background-color: transparent;
		border: none;
		margin-right: 20px;
		width: 20%;
		border-bottom: 1px solid rgba(211, 59, 160 ,0.3);
		}
		.number{
		text-align: center;
		color: #605F61;
		border: none;
		display: inline-block;
		width:70%;
		border-bottom: 1px solid rgba(211, 59, 160 ,0.3);
		}
	
		ion-item{
			border: none;
			ion-label{
				font-family: Avenir-Medium;
				font-size: 17px;
				letter-spacing: 1px;
				height:red;
			}
			ion-input, input,select{
				border-bottom: 1px solid rgba(211, 59, 160 ,0.3);
			}
			button{
				width:100%;
				color: color($colors, primary);
				height:45px;
				border: 1px solid color($colors, primary);
				border-radius: 25px;
				background-color: white;
				font-size: 14px;
			}
			.fgPass{
				height: 20px;
				border: none;
				text-decoration: underline;
				font-family: Avenir-Book;
				font-size: 14px;
				color: #6CB4F3;
				letter-spacing: 0.28px;
			}
			.signup{
				font-family: Avenir-Book;
				border: none;
				font-size: 14px;
				color: #DE127A;
				letter-spacing: 0.58px;
				text-align: center;
			}
		}
		
	}
	
	
}
