<ion-header>
  <ion-navbar color="white" col-12>
  <button ion-button id="clearBtn">Clear</button>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <div id="title" col-4 offset-2 *ngIf="provider.title !== 'Call History' ">{{provider.title}}</div>

    <button  *ngIf="(provider.title == 'Home' || provider.title == 'My Profile' || provider.title == 'My Matches' || provider.title == 'Settings')&& (provider.acc.profile)" id="messages"><img src="assets/icon/message.png">
      <span>3</span>
    </button>
    <button *ngIf="provider.title !== 'Settings' && provider.title !== 'My Matches' && provider.title !== 'My Profile'" ion-item no-lines detail-none  id="editBtn">Edit</button>
    <ion-col *ngIf="provider.title == 'Call History' ">
        <ion-row   class="distinguish">
          <ion-col col-6 [ngClass]="selectedAll?'selected':'unselected'" class="allButton" (click)="selectAll()">All</ion-col>
          <ion-col col-6 [ngClass]="selectedMissed?'selected':'unselected'" (click)="selectMissed()">Missed</ion-col>
        </ion-row>
      </ion-col>
  </ion-navbar>
</ion-header>

<ion-content >
  <ion-grid style="padding:0px;height: 100%;" >
    <ion-row style="height: 100%;">


      <!--This is the Home searhc Part -->
      <ion-col  *ngIf="(provider.title == 'Home' || provider.title == 'Settings') && !provider.resultFound && provider.acc">
       <div class="ageDiv">
         <span class="subtitle">Your Match Age Range</span><br/>
         <ion-item no-lines>
          <ion-range min="18" max="120" pin="true" [(ngModel)]="provider.acc.settings.age" color="primary">
            <ion-label range-left>18</ion-label>
          </ion-range>
        </ion-item>
       </div>
        <ion-list radio-group [(ngModel)]="provider.acc.settings.intension" class="ageDiv">
         <span class="subtitle">Your Match Intentions</span><br/><br/>
           <button *ngFor="let intension of provider.intensions let x = index" col-6>
            <span>{{intension.title}}</span>
            <ion-radio value="{{intension.title}}"></ion-radio>
          </button>
       </ion-list>
        <div *ngFor="let title of provider.titles let q = index" class="othersDiv" (click)="showPopover(title, $event, title)">
          <span class="subtitle">{{title}}</span>
          <button *ngIf="q == 0" ion-item detail-none no-lines col-6>{{provider.acc.settings.gender}} <img src="assets/icon/rightArrow.png"></button>
          <button *ngIf="q == 1"ion-item detail-none no-lines col-6>{{provider.acc.settings.orientation}} <img src="assets/icon/rightArrow.png"></button>
          <button *ngIf="q == 2" ion-item detail-none no-lines col-6>{{provider.acc.settings.country}} <img src="assets/icon/rightArrow.png"></button>
          <button *ngIf="q == 3" ion-item detail-none no-lines col-6>{{provider.acc.settings.education}} <img src="assets/icon/rightArrow.png"></button>
        </div>
        <div *ngIf="provider.title == 'Home' ">
          <button ion-item detail-none  no-lines id="randomSearchBtn" (click)="provider.search('random')"> Random search</button>
          <button ion-item detail-none  no-lines id="findSearchBtn" (click)="provider.search('specific')"> Find match</button>
        </div>
        <button [disabled]="!provider.acc.settings.age || !provider.acc.settings.intension || !provider.acc.settings.gender || !provider.acc.settings.orientation || !provider.acc.settings.country || !provider.acc.settings.education" (click)="provider.UpdateSettings()" *ngIf="provider.title == 'Settings' " no-lines id="updateBtn" style="">Update</button>
        <div style="opacity:0;">toast</div>
      </ion-col>

 <!--This is the Home match Part -->
      <ion-col  *ngIf="provider.title == 'Home' && provider.resultFound" style="background-color: rgb(242, 242, 242);text-align: center;padding: 0px;">
       <!-- <img src="assets/imgs/album.png">
        -->
        <div id="div1">
          <div id="div2">
            <ion-slides>
               <ion-slide *ngFor="let pic of provider.resultFound.images" class="div3">
                <img src="{{pic.url}}" class="imgProf"></ion-slide>
          </ion-slides>
        </div>
      </div>

      <div id="searchActions">
       <div id="nameSearch">{{provider.resultFound.username}}</div>
       <div> {{provider.resultFound.settings.age +' years old / '+ provider.resultFound.settings.gender+' / '+provider.resultFound.settings.orientation}}</div><br/>
       <button style="color:white;font-size:16px;" (click)="provider.resultFound = undefined">Reject</button>
       <button (click)="goToChat()" style="color:white;font-size:16px;background-color: #DE127A; margin-left: 5%">Chat</button>
      </div>
       
      </ion-col>


      <!-- My Matches !-->
  <ion-col style="background-color: #F8F8F9;"  *ngIf="provider.title == 'My Matches' ">
        <div id="searchDiv">
           <ion-icon name="search" style="padding-left: 3px;"></ion-icon>
           <input placeholder="search" />
           <button ><ion-icon name="close"></ion-icon></button>
        </div>
        <ion-list>
          <button ion-item  detail-none style="border-bottom:1px solid rgba(138, 140, 138,0.1); background-color: rgba(211, 59, 160 ,0.2);">
            <img class="img blurredImage" src="assets/imgs/trial.png" >
            <img class="status" src="assets/icon/online.png" />
            <div style="position: absolute;top:10px;left:80px;width:76%;">
              <div class="time">11.25 am</div>
              <div class="name">Jane</div>
              <div class="message">Hey! How was dinner yesterday?</div>
            </div>
          </button>         
        </ion-list>
      </ion-col>


      <!--This is the friends part -->
      <ion-col style="background-color: #F8F8F9;" *ngIf="provider.title == 'My Friends' ">
        <div id="searchDiv">
           <ion-icon name="search" style="padding-left: 3px;"></ion-icon>
           <input placeholder="search" />
           <button ><ion-icon name="close"></ion-icon></button>
        </div>
        <ion-list>
          <button ion-item detail-none  style="border-bottom:1px solid rgba(138, 140, 138,0.1); background: rgba(211, 59, 160 ,0.2);">
            <img class="img" src="assets/imgs/trial.png">
            <img class="status" src="assets/icon/online.png" />
            <div style="position: absolute;top:10px;left:80px;width:76%;">
              <div class="time">11.25 am</div>
              <div class="name">Jane <span class="unreadText">3</span></div>
              <div class="message">Hey! How was dinner yesterday?</div>
            </div>
          </button>
          
        </ion-list>
      </ion-col>

       <!--This is the call history part -->
      <ion-col style="background-color: #F8F8F9;" *ngIf="provider.title == 'Call History' ">
        <div id="searchDiv">
           <ion-icon name="search" style="padding-left: 3px;"></ion-icon>
           <input placeholder="search" />
           <button ><ion-icon name="close"></ion-icon></button>
        </div>
        <ion-list>
          <button ion-item detail-none style="border-bottom:1px solid rgba(138, 140, 138,0.1); ">
            <img class="smalDel" src="assets/icon/delete.png">
            <img class="img" src="assets/imgs/trial.png">
            <div style="position: absolute;top:10px;left:110px;width:70%;">
              <div class="name">Jane </div>
              <div class="time">Yesterday</div>
              <div class="message"><ion-icon name="videocam" class="mediaIcon"></ion-icon> Outgoing</div>
            </div>
          </button>
           <button ion-item detail-none style="border-bottom:1px solid rgba(138, 140, 138,0.1); ">
            <img class="smalDel" src="assets/icon/delete.png">
            <img class="img" src="assets/imgs/trial.png">
            <div style="position: absolute;top:10px;left:110px;width:70%;">
              <div class="name">Jane </div>
              <div class="time">11.25 am</div>
              <div class="message"><ion-icon name="call" class="mediaIcon"></ion-icon>Outgoing</div>
            </div>
          </button>
          
        </ion-list>
      </ion-col>

       <!--This is the my profile part -->
      <ion-col *ngIf="provider.title == 'My Profile' " style="text-align: center;padding:0px;background-color: rgb(232, 232, 232);height: 100%;">
       <div id="picDiv" style="height:150px">
            <img *ngIf="provider.acc && provider.acc.image !== 'assets/imgs/avatar.jpg' " src="{{provider.acc.image}}">
        </div>
        <div id="imgDiv" class="profileImage">
           <img src="{{provider.acc.image}}" (click)="showPopover('profileImage', $event, null)">
           <div id="profileName" style="border: none;">
             {{provider.acc.username}}
           </div>
           <button style="display: none;" id="editBtn" no-lines detail-none  ion-item>Edit profile</button>
           <div style="text-align: center;">
             <button  id="morePhotos" no-lines >More Photos</button>
           </div>
           <div id="bio">
             <strong>Bio: </strong><br/>
             <textarea placeholder="Write something about yourself here." ></textarea >
           </div>
        </div>
         <div id="myPhotos">
             <span>My photos</span><br><br>
             <div style="margin:0px;width:95% ;text-align: center;">
               <img src="assets/imgs/trial.png">
             </div>
           </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<!--archive and delete button-->
<ion-footer  *ngIf="provider.title == 'My Friends' ">
  <button ion-item detail-none  class="footerBtn">Archive</button>
  <button ion-item detail-none  class="footerBtn" style="text-align:right">Delete</button>
</ion-footer>
