
<ion-content class="ioncontent">
 <img src="assets/imgs/index.png">
 <ion-list >
   <ion-item *ngFor="let input of Inputs.inputs" class=“ionItem” style="border: none;"  no-lines>
     <ion-label floating color="primary">{{input.name}}</ion-label>
     <ion-input type="{{input.type}}" [(ngModel)]="input.value"></ion-input>
   </ion-item>
   <ion-item style="margin-top: 20px; border: none" no-lines>
     <button *ngIf="Inputs.title =='Login' " [disabled]="!Inputs.inputs[0].value || Inputs.inputs[0].value.trim() == '' || !Inputs.inputs[1].value || Inputs.inputs[1].value.trim() == ''">Login</button>
     <button *ngIf="Inputs.title =='Sign up' " [disabled]="!Inputs.inputs[0].value || Inputs.inputs[0].value.trim() == '' || !Inputs.inputs[1].value || Inputs.inputs[1].value.trim() == '' || !Inputs.inputs[2].value || !Inputs.inputs[3].value || Inputs.inputs[3].value.trim() == '' ">Sign up</button>
   </ion-item>
    <ion-item *ngIf="Inputs.title =='Login' "  style="margin-top: -13px;border: none;" no-lines>
     <button class="fgPass">Forgot password?</button>
   </ion-item>
   <ion-item style="margin-top: 20px;border: none;" no-lines>
     <button (click)="goTo(1)" *ngIf="Inputs.title =='Login' " class="signup">Don't have an account? Sign up!</button>
     <button (click)="goTo(0)" *ngIf="Inputs.title !=='Login' " class="signup">Already have an account? Login!</button>
   </ion-item>
 </ion-list>
</ion-content>
